<template name="wcData">
  <div class="data-block">
      <div class="row data-block-title">Water Quality Data</div>
      <div class="row">
        <div class="small-6 large-12 large-centered columns">
          {{#if data}}
            <ul class="button-group even-{{data.keyCount}} data-block-button-group">
              {{#each data.results}}
                <li>
                  <a href="#" class="tiny radius button data-block-button">{{key}}</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      </div>
  </div>
</template>
