<template name="wcStationInfo">
  <div class="small-1 large-2 columns info-block">
    <div class="info-block-title">Site Information</div>
      {{#if info}}
        <p class="info-line-header">Station Name</p>
        <p class="info-line-text">{{info.stationName}}</p>
        <p class="info-line-header">Water Body</p>
        <p class="info-line-text">{{info.waterBody}}</p>
        <p class="info-line-header">Latitude</p>
        <p class="info-line-text">{{info.lat}}</p>
        <p class="info-line-header">Longitude</p>
        <p class="info-line-text">{{info.lng}}</p>
      {{/if}}
  </div>
</template>
