.data-block {
  float: left;
  width: 100%
}

.data-block .data-block-title {
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

.data-block .row .data-block-button-group {
  margin: auto;
  width: 90%;
}
/*
 *
 * Not using dates block anymore

.dates-block {
  background-color: #8DA335;
  height: 400px;
}

.dates-block .dates-title {
  font-family: arial;
  font-weight: bold;
  text-align: center;
}
*/

/*.dates-block .date-line {
  font-family: arial;
  text-align: center;
  font-size: 10pt;
  padding: 5px;
  margin: 1px;
  background: rgb(255,103,10); /* Old browsers */
/*  background: -moz-linear-gradient(left,  rgba(255,103,10,1) 0%, rgba(239,117,10,1) 100%); /* FF3.6+ */
/*  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,103,10,1)), color-stop(100%,rgba(239,117,10,1))); /* Chrome,Safari4+ */
/*  background: -webkit-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Chrome10+,Safari5.1+ */
/*  background: -o-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Opera 11.10+ */
/*  background: -ms-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* IE10+ */
/*  background: linear-gradient(to right,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* W3C */
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670a', endColorstr='#ef750a',GradientType=1 ); /* IE6-9 */
/*
}

.dates-block .date-line:hover {
  background: slategrey;
}
*/


.info-block {
  background-color: #8DA335;
  height: 400px;
}

.info-block .info-block-title {
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

.info-block .info-line-header {
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
  padding: 2px;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.info-block .info-line-text {
  font-family: arial;
  font-weight: bold;
  font-size: 10pt;
  padding: 2px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 10px;
}

.info-block .info-block-line {
  font-family: arial;
  text-align: center;
  font-size: 10pt;
  padding: 5px;
  margin: 1px;
  background: rgb(255,103,10); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,103,10,1) 0%, rgba(239,117,10,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,103,10,1)), color-stop(100%,rgba(239,117,10,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670a', endColorstr='#ef750a',GradientType=1 ); /* IE6-9 */
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 400px;
}

.info-window-station {
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
}

.info-window-body {
  font-family: arial;
  font-size: 8pt;
}

#not-found {
/*  font-family: arial;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;*/

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.not-found-title {
  font-family: arial;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
}

.not-found-text {
  font-family: arial;
  font-size: 12pt;
  text-align: center;
}

.not-found-button {
  font-family: arial;
  text-align: center;
  font-size: 10pt;
  padding: 5px;
  margin: 1px;
  background: rgb(255,103,10); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,103,10,1) 0%, rgba(239,117,10,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,103,10,1)), color-stop(100%,rgba(239,117,10,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,103,10,1) 0%,rgba(239,117,10,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670a', endColorstr='#ef750a',GradientType=1 ); /* IE6-9 */
}

.not-found-button:hover {
  background: slategrey;
}

#line-chart {

}

#line-chart .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#line-chart .line {
  fill: none;
  stroke: slategrey;
  stroke-width: 3px;
}

#line-chart .x.axis path {
}
